* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

.container {
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
}

h2 {
    display: inline;
}

#start {
    margin: 10px;
}