* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    display: inline-block;
}

h2 {
    display: inline;
}

#start {
    margin-top: 40px;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 3px 3px 3px 0;
}

#start:hover,
#start:active {
    transform: translateY(3px);
}

.box {
    border: 1px solid black;
    width: 200px;
    margin: 10px auto;
    box-shadow: 5px 5px 5px 0;
    padding: 10px;
}